@use "../shared.scss";

#filters {
	margin-bottom: 6px;
	margin-left: calc(100px + 20px + 10px);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.reset {
	background-color: #dc3545AA;
	color: #FFF;
	font-size: 10px;
	padding: 5px;
	border-radius: 7px;
	border: none;
	&.active {
		cursor: pointer;
		background-color: #dc3545;
	}
}
