@use "../shared.scss";

#people_grid {
    margin-top: 15px;
    .person {
        width: 3in;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 150px;

        .info_box {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            img {
                width: 100px;
                height: 120px;
                border-radius: 10%;
                overflow: hidden;
                min-width: 100px;
                margin-right: 10px;
            }
            .details {
                white-space: nowrap;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 10px;
                .name {
                    margin-top: 0px;
                    font-size: 1.17em;
                }
                .row {
                    .long_value {
                        font-size: 14px;
                        a {
                            color: #00356b;
                        }
                    }
                }
            }
        }
        .pills {
            margin: 5px 0px 4px -1px;
            
            .pill, .pill_metadata {
                display: inline-block;
                padding: 3px 6px;
                font-size: 10px;
                border-radius: 12px;
                margin: 2px 4px 4px 0px;
            }
            .pill {
                background: #00356b;
                color: white;
                cursor: pointer;
                text-align: center;
            }
            .pill_metadata {
                background: #e6e6e6;
                color: #133467;
            }
        }
    }
}
