@use "../shared.scss";

#search_wrapper {
	width: auto;
	display: flex;
	justify-content: stretch;
	align-items: center;
	gap: 10px;
	input {
		width: 35vw;
		border-width: 2px;
	}
	p {
		color: #00000077;
		font-size: 10px;
		line-height: 1.5;
	}
}
