@use "../shared.scss";

#search_wrapper {
	width: auto;
	display: flex;
	justify-content: stretch;
	align-items: center;
	gap: 10px;
	input {
		width: 35vw;
		border-width: 2px;
	}

	@include shared.responsive() {
		input {
			margin: 25px 20px 0 20px;
			width: 100%;
		}
	}
}
